body {
  background-color: #F4EEFF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h3,h2 {
  color: #424874;
}
/* h2 {
  color: #364F6B;
} */
